<div class="block typeset">

	<div class="layout">
		
		<div class="col-6">

			<h2>The One &amp; Only</h2>
			<p><%= lorem.sentences 12 %></p>

		</div>			

		<div class="col-6 last">

			<img class="media" src="http://placeimg.com/500/500/tech" alt=" "/>

		</div>

	</div>

</div>