<div class="block typeset hero">

	<div class="layout">

		<div class="col-12">
				 
			<div class="bgimage"
					 style="background-image: url('http://placeimg.com/1200/380/tech');">
				
				<div class="overlay block">

					<h1 class="center title">Hello Hero!</h1>
				
					<p class="center subtitle">This Is a Full-Width Banner Block</p>

				</div>
				
			</div>

		</div>

	</div>

</div>
