<div class="block typeset">

	<div class="layout">

		<div class="col-12">
			
			<div class="media-block" style="">
				  
          <div class="placeholder">		
				 
				  <label for="modal-1">
				    <div class="modal-trigger">
              <span class="btn btn-primary">Insert ...</span>
            </div>
				  </label>

        </div>

			</div>


		</div>

	</div>

</div>

<div class="block typeset">
    <div class="layout">

    <div class="col-4">

        <h2>Headline</h2>
        <p>This is placeholder text. To get started, remove it and input your own information! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

    </div>

    <div class="col-8">
      
      <div class="media-block">
          
          <div class="placeholder">   
         
          <label for="modal-1">
            <div class="modal-trigger">
              <span class="btn btn-primary">Insert ...</span>
            </div>
          </label>

        </div>

      </div>


    </div>

  </div>

</div>	


<div class="modal">

  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"><span class="icon-cross2"></span></div>
      
      <!-- <a href="#" class="prev">Back</a>
      <a href="#" class="next">Fwd</a>
      <a href="#" class="dismiss" for="modal-1">Close</a> -->

      <div id="step1" class="modal-content current first">
      
        <h1>Select Data or Media Provider</h1>

      		<ul>
      			<li><a href="#" id="youTube" class="next">YouTube</a></li>
      		</ul>

      </div>

      <div id="step2" class="modal-content">

        

          <h1>Add a YouTube Video</h1>

          <div class="youTube form">
            
            <div class="video-form-wrapper">
            <form>
              <label>Link to Video</label>
              <input type="text" id="vidLink" placeholder="http://www.youtube.be">
              
              
             <!--  <span class="preview-video cancel"></span>
 -->
              <div class="videoWrapper preview">
                    <div class="videoMessage"><p class="h6 text-center">Preview</p></div>
              </div>
              
              <div class="videoWrapper valid"><iframe width="1280" height="720" src="https://www.youtube.com/embed/hGlyFc79BUE?rel=0" frameborder="0" allowfullscreen></iframe></div>


              <div class="videoWrapper error">
                <div class="videoMessage">
                  <p class="h6 text-center">Oh no!<br /> Something went wrong.</p>
                  <p class="now-what">Try using a valid link to a YouTube video.</p>
                </div>
              </div>  


            </form>
          </div>
          </div>

          <div style="text-align: right; margin-top: 1rem;">
            <a href="#" class="btn prev"><span class="icon-arrow-left2" style="font-size: 0.8em;"></span>Back</a>
            <a href="#" id="insertVid" class="dismiss btn btn-primary">Insert</a>  
          </div>

      </div>

      <div id="step3" class="modal-content last">

            <p>Third</p>

      </div>

    
    </div>
  </div>
</div>	



<% content_for :page_js do %>

<style>
  #step2, #step3, .error, .valid {
    display: none;
  }
  .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>


<script>

$(function() {
  $("#modal-1").on("change", function() {
    if ($(this).is(":checked")) {
      $("body").addClass("modal-open");
    } else {
      $("body").removeClass("modal-open");
    }
  });

  $(".modal-fade-screen, .modal-close").on("click", function() {
    $(".modal-state:checked").prop("checked", false).change();
  });

  $(".modal-inner").on("click", function(e) {
    e.stopPropagation();
  });


  // Steps
  $('.next').on('click', function() {
      $('.current').removeClass('current').hide()
          .next().show().addClass('current');
      if ($('.current').hasClass('last')) {
          $('.next').attr('disabled', true);
      }
      //$('#prev').attr('disabled', null);
  });

  $('.prev').on('click', function() {
      $('.current').removeClass('current').hide()
          .prev().show().addClass('current');
      if ($('.current').hasClass('first')) {
          $('.prev').attr('disabled', true);
      }
      $('.next').attr('disabled', null);
  });

  //Dismiss
  $('.dismiss').on("click", function() {
    $(".modal-state:checked").prop("checked", false).change();
  });

  // Enable the next button with a proper youtube link
  
  setTimeout(function(){
    $('.youTube.form #vidLink').on('input propertychange', function(){

          if ($(this).val() == 'youtube' ) { 
             $('.videoWrapper.preview, .videoWrapper.error').hide();          
             $('.videoWrapper.valid').show();
          }

          else {
              $('.videoWrapper.preview, .videoWrapper.valid').hide();
              $('.videoWrapper.error').show();

            
          }

    })
  }, 6000);


 

  $('.preview-video.cancel').on('click', function(){
      $('#vidLink').val("");
      $('.videoWrapper').hide();
      $('.error, .valid').hide();
  })
/*  $('div.youTube.form').hide();

  $('a#youTube').on('click', function(e){

      $('div.youTube.form').slideToggle();
    })*/

});

</script>


<% end %>
