<div class="block typeset">

	<div class="layout">

		<div class="col-12">
			
			<h1 class="center title">This is The Story</h1>
			<p class="center subtitle">And This Is A Subtitle That Really Makes It Easy To Understand</p>
			<img class="media" src="http://placeimg.com/1200/380/tech" alt=" "/>

		</div>

	</div>

</div>
