<div class="block typeset">

	<div class="layout">
		<div class="col-6">

			<h3>Something Great</h3>
			<p><%= lorem.sentences 3 %></p>

		</div>			

		<div class="col-6 last">
			
			<h3>Something Greater</h3>
			<p><%= lorem.sentences 3 %></p>

		</div>
	</div>

</div>