<div class="block typeset">

	<div class="layout">

		<div class="col-12">
			
			<h1 class="center title">Great Big Story Title</h1>
			<p class="center subtitle">A Slightly Smaller Subtitle Adds Clarity</p>


		</div>

	</div>

</div>		