<!-- Media-6-6 -->
<div class="block typeset">

	<div class="layout">

		<div class="col-6">

			<div class="media-block" style="">

				<div class="placeholder">		

					<label for="modal-1">
						<div class="modal-trigger">
							<span class="btn btn-primary">Insert ...</span>
						</div>
					</label>

				</div>

			</div>


		</div>				


		<div class="col-6">

			<div class="media-block" style="">

				<div class="placeholder">		

					<label for="modal-1">
						<div class="modal-trigger">
							<span class="btn btn-primary">Insert ...</span>
						</div>
					</label>

				</div>

			</div>


		</div>

	</div>

</div> <!-- ./block -->