<div class="block typeset">

	<div class="layout">		

		<div class="col-4">
			
			<h4>Aside Heading</h4>
			<p><i>This is placeholder text. To get started, remove it and input your own information!</i> You could leave it here, but it's probably best to use your own. There's little doubt that your text will be better than this text.</p>

		</div>

		<div class="col-8">

			<h4>Heading</h4>
			<p><i>This is placeholder text. To get started, remove it and input your own information!</i> Or you could just leave this bit of text right here to experiment with the design and layout of your story. Go ahead, add another! Using a variety of layouts and visual arrangements will make your story stand out. Or that's what we like to think. This explains why we have all of these content blocks for you to play with. So get after it, author! Tell your story. It's going to be magnificent!</p>
		</div>	
	</div>

</div>