<!-- Text-Media-4-8 -->
<div class="block typeset">
	<div class="layout">

		<div class="col-4">

			<h2>Headline</h2>
			<p>This is placeholder text. To get started, remove it and input your own information! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

		</div>

		<div class="col-8">

			<div class="media-block">

				<div class="placeholder">   

					<label for="modal-1">
						<div class="modal-trigger">
							<span class="btn btn-primary">Insert ...</span>
						</div>
					</label>

				</div>

			</div>


		</div>

	</div>

</div><!-- ./block -->