<!-- Text-Media-6-6 -->
<div class="block typeset">
	<div class="layout">

		<div class="col-6">

			<h2>Headline</h2>
			<p>This is placeholder text. To get started, remove it and input your own information! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Sed tincidunt, lacus et maximus facilisis, magna sapien pharetra enim, ac luctus nisi tellus id arcu. Cras ultrices risus vitae nibh finibus pulvinar. Maecenas eget orci ac orci commodo egestas eu ac est. Morbi ac porttitor urna, in luctus nisi.</p>

		</div>

		<div class="col-6">

			<div class="media-block">

				<div class="placeholder">   

					<label for="modal-1">
						<div class="modal-trigger">
							<span class="btn btn-primary">Insert ...</span>
						</div>
					</label>

				</div>

			</div>

		</div>
	</div>

</div><!-- ./block -->	