<!-- Text-Media-4-8 -->
<div class="block typeset">
	<div class="layout">

		<div class="col-4">

			<h2>Headline</h2>
			<p><i>This is placeholder text. To get started, remove it and input your own information!</i> You could leave it here, but it's probably best to use your own. There's little doubt that your text will be better than this text.</p>


		</div>

		<div class="col-8">

			<div class="media-block">

				<div class="placeholder">   

					<label for="modal-1">
						<div class="modal-trigger">
							<span class="btn btn-primary">Insert ...</span>
						</div>
					</label>

				</div>

			</div>


		</div>

	</div>

</div><!-- ./block -->