<div class="block typeset">

	<div class="layout">

		<div class="col-12">

			<blockquote>“Find a subject you care about and which you in your heart feel others should care about. It is this genuine caring, not your games with language, which will be the most compelling and seductive element in your style.&rdquo;<br/><br />- Kurt Vonnegut</blockquote>

			

		</div>


	</div>

</div>