<div class="block typeset">

	<div class="layout">

		<div class="col-12">

			<h3>Heading</h3>
			<p><i>This is placeholder text. To get started, remove it and input your own information!</i> In the meantime, here are some interesting thoughts on writing for the web. “Every use of your web site or mobile app is a conversation started by your site visitor, “ says Ginny Reddish, writing expert and author of <i>Letting Go of the Words</i>. The hitch is that you are not there to complete the dialog. So here are few things you can do to make that conversation a good one.</p>
</p>

			<h4>Another Heading for Good Measure</h4>
			<ul>
				<li>Try to anticipate your reader’s questions.</li>
				<li>Think about the next steps (if there are any) so you can point your reader in the right direction.</li> 
				<li>Use your reader’s words so your information is easy to understand.</li>
				<li>Have fun! No seriously, have fun!</li>

			</ul>

		</div>

	</div>

</div>