<div class="block typeset">

	<div class="layout">
		<div class="col-8">

			<h4>Heading</h4>
			<p>This is placeholder text. To get started, remove it and input your own information! Illum quisquam nobis enim earum sed in accusantium qui veniam. Vel corporis quia beatae et odio iste aperiam non tenetur eum voluptate eligendi pariatur voluptatem. Reiciendis veniam in impedit amet voluptate cumque sit laborum. Et ab ipsa temporibus eum ab dolorum. Facilis quia est eum consequatur explicabo odit assumenda. Recusandae rem autem soluta est aut nesciunt cupiditate eligendi quae.</p>

		</div>			

		<div class="col-4 last">
			
			<h4>Aside Heading</h4>
			<p>This is placeholder text. To get started, remove it and input your own information! Illum quisquam nobis enim earum sed in accusantium qui veniam. Vel corporis quia beatae et odio iste aperiam non tenetur eum voluptate eligendi pariatur voluptatem. Reiciendis veniam in impedit amet voluptate cumque sit laborum. Et ab ipsa temporibus eum ab dolorum. Facilis quia est eum consequatur explicabo odit assumenda. Recusandae rem autem soluta est aut nesciunt cupiditate eligendi quae.</p>

		</div>
	</div>

</div>