// Font Stacks
$body-font-stack: "Georgia", sans-serif;
$heading-font-stack: "Helvetica", serif;

//Colors
$default-type-color: #252525;
$heading-type-color: #252525;
$quiet-type-color: #ccc;


$link-color: green;
$link-hover: darken($link-color, 12%);
$link-hover: darken($link-color, 12%);
