.typeset {
  font-size: 0.9em;
  color: #252525;
}
.typeset h1 {
  margin-top: 1.5992em;
  margin-bottom: 0px;
  font-size: 2.13173em;
  line-height: 1.333;
}
@media (min-width: 48em) {
  .typeset h1 {
    margin-top: 2.01604em;
    margin-bottom: 0px;
    font-size: 2.68739em;
    line-height: 1.44;
  }
}
@media (min-width: 75em) {
  .typeset h1 {
    margin-top: 2.63045em;
    margin-bottom: 0px;
    font-size: 3.78785em;
    line-height: 1.44;
  }
}
.typeset h2 {
  margin-top: 1.40003em;
  margin-bottom: 0px;
  font-size: 1.86624em;
  line-height: 1.333;
}
@media (min-width: 48em) {
  .typeset h2 {
    margin-top: 1.60123em;
    margin-bottom: 0px;
    font-size: 2.13444em;
    line-height: 1.44;
  }
}
@media (min-width: 75em) {
  .typeset h2 {
    margin-top: 1.97333em;
    margin-bottom: 0px;
    font-size: 2.8416em;
    line-height: 1.44;
  }
}
.typeset h3 {
  margin-top: 1.03976em;
  margin-bottom: 0px;
  font-size: 1.386em;
  line-height: 1.333;
}
@media (min-width: 48em) {
  .typeset h3 {
    margin-top: 1.40003em;
    margin-bottom: 0px;
    font-size: 1.86624em;
    line-height: 1.44;
  }
}
@media (min-width: 75em) {
  .typeset h3 {
    margin-top: 1.60123em;
    margin-bottom: 0px;
    font-size: 2.13444em;
    line-height: 1.44;
  }
}
.typeset h4 {
  margin-top: 0.97224em;
  margin-bottom: 0px;
  font-size: 1.296em;
  line-height: 1.333;
}
@media (min-width: 48em) {
  .typeset h4 {
    margin-top: 1.03976em;
    margin-bottom: 0px;
    font-size: 1.386em;
    line-height: 1.44;
  }
}
@media (min-width: 75em) {
  .typeset h4 {
    margin-top: 1.40003em;
    margin-bottom: 0px;
    font-size: 1.86624em;
    line-height: 1.44;
  }
}
.typeset h5 {
  margin-top: 0.9em;
  margin-bottom: 0px;
  font-size: 1.1997em;
  line-height: 1.333;
}
@media (min-width: 48em) {
  .typeset h5 {
    margin-top: 0.9em;
    margin-bottom: 0px;
    font-size: 1.1997em;
    line-height: 1.44;
  }
}
@media (min-width: 75em) {
  .typeset h5 {
    margin-top: 1.03976em;
    margin-bottom: 0px;
    font-size: 1.386em;
    line-height: 1.44;
  }
}
.typeset h6 {
  margin-top: 0.67517em;
  margin-bottom: 0px;
  font-size: 0.9em;
  line-height: 1.333;
}
@media (min-width: 48em) {
  .typeset h6 {
    margin-top: 0.67517em;
    margin-bottom: 0px;
    font-size: 0.9em;
    line-height: 1.44;
  }
}
@media (min-width: 75em) {
  .typeset h6 {
    margin-top: 0.9em;
    margin-bottom: 0px;
    font-size: 1.1997em;
    line-height: 1.44;
  }
}
.typeset h1, .typeset h2, .typeset h3, .typeset h4, .typeset h5, .typeset h6 {
  font-family: "Radley", serif;
  color: #990000;
}
.typeset p, .typeset ul, .typeset ol, .typeset blockquote, .typeset figcaption {
  font-size: 0.9em;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.333;
  margin-bottom: 1.333;
  margin-top: 1.333;
}
@media (min-width: 48em) {
  .typeset p, .typeset ul, .typeset ol, .typeset blockquote, .typeset figcaption {
    font-size: 1.1em;
    line-height: 1.44;
    margin-bottom: 1.44;
    margin-top: 1.44;
  }
}
@media (min-width: 75em) {
  .typeset p, .typeset ul, .typeset ol, .typeset blockquote, .typeset figcaption {
    font-size: 1.2em;
  }
}
.typeset blockquote {
  font-style: italic;
  border-left: 2px solid #ccc;
  padding-left: 1rem;
  margin-left: 1.3rem;
}
.typeset ul, .typeset ol {
  padding-left: 1.3rem;
}
.typeset ul {
  list-style-type: disc;
}
.typeset li {
  margin-bottom: 0.6665em;
}
@media (min-width: 48em) {
  .typeset li {
    margin-bottom: 0.72em;
  }
}
.typeset a {
  color: green;
}
.typeset a:hover {
  color: #004300;
}
.typeset .center {
  text-align: center;
}
.typeset .left {
  text-align: left;
}
.typeset .right {
  text-align: center;
}
.typeset .title {
  margin-top: 1.5992em;
  margin-bottom: 0px;
  font-size: 2.68739em;
  line-height: 1.333;
  font-family: "Radley", serif;
}
@media (min-width: 48em) {
  .typeset .title {
    margin-top: 2.01604em;
    margin-bottom: 0px;
    font-size: 3.28704em;
    line-height: 1.44;
  }
}
@media (min-width: 75em) {
  .typeset .title {
    margin-top: 2.63045em;
    margin-bottom: 0px;
    font-size: 5.06204em;
    line-height: 1.44;
  }
}
.typeset .subtitle {
  display: block;
  margin-top: 0.9em;
  margin-bottom: 0px;
  font-size: 1.1997em;
  line-height: 1.333;
  color: #727272;
  margin-top: 0px !important;
}
@media (min-width: 48em) {
  .typeset .subtitle {
    margin-top: 0.9em;
    margin-bottom: 0px;
    font-size: 1.1997em;
    line-height: 1.44;
  }
}
@media (min-width: 75em) {
  .typeset .subtitle {
    margin-top: 1.03976em;
    margin-bottom: 0px;
    font-size: 1.386em;
    line-height: 1.44;
  }
}
.typeset .spacer {
  margin: 2rem 0;
}
.typeset hr {
  border-top: 1px solid #ccc;
  border-bottom: 0;
  height: 1px;
}

/* .typeset */
div[class*="col-"] > h1:first-child, div[class*="col-"] > h2:first-child, div[class*="col-"] > h3:first-child, div[class*="col-"] > h4:first-child, div[class*="col-"] > p, div[class*="col-"] > ul, div[class*="col-"] > ol, div[class*="col-"] > blockquote, div[class*="col-"] > hr,
div[class*="col-"] li + ul,
div[class*="col-"] h1 + p, div[class*="col-"] h2 + p, div[class*="col-"] h3 + p, div[class*="col-"] h4 + p, div[class*="col-"] img,
div.typeset > h1:first-child,
div.typeset > h2:first-child,
div.typeset > h3:first-child,
div.typeset > h4:first-child,
div.typeset > p,
div.typeset > ul,
div.typeset > ol,
div.typeset > blockquote,
div.typeset > hr,
div.typeset li + ul,
div.typeset h1 + p,
div.typeset h2 + p,
div.typeset h3 + p,
div.typeset h4 + p,
div.typeset img,
div.format > h1:first-child,
div.format > h2:first-child,
div.format > h3:first-child,
div.format > h4:first-child,
div.format > p,
div.format > ul,
div.format > ol,
div.format > blockquote,
div.format > hr,
div.format li + ul,
div.format h1 + p,
div.format h2 + p,
div.format h3 + p,
div.format h4 + p,
div.format img {
  margin-top: 1rem;
}
@media (min-width: 48em) {
  div[class*="col-"] > h1:first-child, div[class*="col-"] > h2:first-child, div[class*="col-"] > h3:first-child, div[class*="col-"] > h4:first-child, div[class*="col-"] > p, div[class*="col-"] > ul, div[class*="col-"] > ol, div[class*="col-"] > blockquote, div[class*="col-"] > hr,
  div[class*="col-"] li + ul,
  div[class*="col-"] h1 + p, div[class*="col-"] h2 + p, div[class*="col-"] h3 + p, div[class*="col-"] h4 + p, div[class*="col-"] img,
  div.typeset > h1:first-child,
  div.typeset > h2:first-child,
  div.typeset > h3:first-child,
  div.typeset > h4:first-child,
  div.typeset > p,
  div.typeset > ul,
  div.typeset > ol,
  div.typeset > blockquote,
  div.typeset > hr,
  div.typeset li + ul,
  div.typeset h1 + p,
  div.typeset h2 + p,
  div.typeset h3 + p,
  div.typeset h4 + p,
  div.typeset img,
  div.format > h1:first-child,
  div.format > h2:first-child,
  div.format > h3:first-child,
  div.format > h4:first-child,
  div.format > p,
  div.format > ul,
  div.format > ol,
  div.format > blockquote,
  div.format > hr,
  div.format li + ul,
  div.format h1 + p,
  div.format h2 + p,
  div.format h3 + p,
  div.format h4 + p,
  div.format img {
    margin-top: 1.5rem;
  }
}
@media (min-width: 75em) {
  div[class*="col-"] > h1:first-child, div[class*="col-"] > h2:first-child, div[class*="col-"] > h3:first-child, div[class*="col-"] > h4:first-child, div[class*="col-"] > p, div[class*="col-"] > ul, div[class*="col-"] > ol, div[class*="col-"] > blockquote, div[class*="col-"] > hr,
  div[class*="col-"] li + ul,
  div[class*="col-"] h1 + p, div[class*="col-"] h2 + p, div[class*="col-"] h3 + p, div[class*="col-"] h4 + p, div[class*="col-"] img,
  div.typeset > h1:first-child,
  div.typeset > h2:first-child,
  div.typeset > h3:first-child,
  div.typeset > h4:first-child,
  div.typeset > p,
  div.typeset > ul,
  div.typeset > ol,
  div.typeset > blockquote,
  div.typeset > hr,
  div.typeset li + ul,
  div.typeset h1 + p,
  div.typeset h2 + p,
  div.typeset h3 + p,
  div.typeset h4 + p,
  div.typeset img,
  div.format > h1:first-child,
  div.format > h2:first-child,
  div.format > h3:first-child,
  div.format > h4:first-child,
  div.format > p,
  div.format > ul,
  div.format > ol,
  div.format > blockquote,
  div.format > hr,
  div.format li + ul,
  div.format h1 + p,
  div.format h2 + p,
  div.format h3 + p,
  div.format h4 + p,
  div.format img {
    margin-top: 2rem;
  }
}
