<!-- Add Content Panel -->

<div class="block-menu content-menu js-menu sliding-panel-content">

	<div class="panel-header">

			<div class="btn-close btn--js-menu" data-panel-name="block-menu"><span class="icon-cross2"></span></div>

		<h4 class="block-group-title">Headings &amp; Text</h4>

	</div>


	<div class="panel-body">
	
	<div class="block-group">

			<div class="block sample"><img src="/blocks/placeholders/title-12.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/text-12.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/text-12-mixed-content.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/text-12-blockquote.svg" /></div>
			
			<div class="block sample"><img src="/blocks/placeholders/text-6-6.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/text-8-4.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/text-4-8.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/text-4-4-4.svg" /></div>

			<div class="block sample"><img src="/blocks/placeholders/media-12.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/media-6-6.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/media-text-8-4.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/text-media-4-8.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/media-text-6-6.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/text-media-6-6.svg" /></div>


			<div class="block sample"><img src="/blocks/placeholders/element-rule.svg" /></div>
			<div class="block sample"><img src="/blocks/placeholders/element-spacer.svg" /></div>
		

		</div>
	</div>
</div>


		

		
		

		


		