<!-- Settings Panel -->

<div class="settings-menu content-menu js-menu sliding-panel-content">
	<div class="btn-close btn--js-menu" data-panel-name="settings-menu"><span class="icon-cross2"></span></div>


	<div class="settings-wrapper">
		<h4 class="block-group-title text-center">Story Settings</h4>
		<hr />
		<div class="span-8">

			<div class="title-wrapper">
				<form onSubmit="return false;">
					<input id="title" type="text" value="Untitled Story">
					<span class="rename-story hint"></span>
					<span class="rename-story cancel"></span>
					<span class="rename-story button"></span>


				</form>

			</div>

		</div>
	</div>

</div>

<div class="sliding-panel-fade-screen" data-panel-name="settings-menu"></div>