<!-- Stlyes and Presentation Panel -->

<div class="style-menu content-menu js-menu sliding-panel-content">

	<div class="panel-header">

	<div class="btn-close btn--js-menu" data-panel-name="style-menu" data-panel-name="style-menu"><span class="icon-cross2"></span></div>
	
	<h4 class="block-group-title">Styled Themes</h4>
	<p class="section-description">Themes to make your story look Grrrrrrreat!</p>
	</div>



	<div class="panel-body">
	
	<div class="block-group">
		



		<div class="block sample switch current" data-theme-id="theme-classic">
			
				<h4 class="theme-title">Classic</h4>
				<div class="theme-sample"><img src="/blocks/styletiles/theme-sample-classic.svg" alt="Classic Theme. This one is a true classic; a throw back to the past."/></div>


		</div>

		<div class="block sample switch" data-theme-id="theme-sans">
			<h4 class="theme-title">Sans</h4>
			<div class="theme-sample"><img src="/blocks/styletiles/theme-sample-sans.svg" alt="Classic Theme. This one is a true classic; a throw back to the past."/></div>


		</div>
		
		<div class="block sample switch" data-theme-id="theme-serif">
<h4 class="theme-title">Serif</h4>
			<div class="theme-sample"><img src="/blocks/styletiles/theme-sample-serif.svg" alt="Classic Theme. This one is a true classic; a throw back to the past."/></div>


		</div>

		<div class="block sample switch" data-theme-id="theme-slab">
<h4 class="theme-title">Slab</h4>
			<div class="theme-sample"><img src="/blocks/styletiles/theme-sample-slab.svg" alt="Classic Theme. This one is a true classic; a throw back to the past."/></div>


		</div>

	</div>

</div>

</div>

			
<% content_for :page_js do %>


<% end %>

