<!-- Stlyes and Presentation Panel -->

<div class="style-menu content-menu js-menu sliding-panel-content">

	<div class="panel-header">

	<div class="btn-close btn--js-menu" data-panel-name="style-menu" data-panel-name="style-menu"><span class="icon-cross2"></span></div>
	
	<h4 class="block-group-title">Style &amp; Presentation</h4>
	</div>



	<div class="panel-body">
	
	<div class="block-group">
		
			
		</div>


		<div class="block sample switch current" data-theme-id="theme-classic"><img src="/images/themes/theme-default-thumb.jpg"></div>

		<div class="block sample switch" data-theme-id="theme-sans"><img src="/images/themes/theme-other-thumb.jpg"></div></div>

	</div>

</div>

</div>

			
<% content_for :page_js do %>



<script>

$(function() {
	$(".block.sample.switch").on("click", function(e){
		
		//console.log($(this).attr('data-theme-id'));
		$('link#theme').attr('href', '/stylesheets/' + $(this).attr('data-theme-id') + '.css');
		
		$('.block.sample').removeClass('current');
		$(this).toggleClass('current');

		//$("body").toggleClass("style2");
	})
});

</script>


<% end %>

