<!-- Stlyes and Presentation Panel -->

<div class="style-menu content-menu js-menu sliding-panel-content">

	<div class="panel-header">

	<div class="btn-close btn--js-menu" data-panel-name="style-menu" data-panel-name="style-menu"><span class="icon-cross2"></span></div>
	
	<h4 class="block-group-title">Style &amp; Presentation</h4>
	</div>



	<div class="panel-body">
	
	<div class="block-group">
		



		<div class="block sample switch current" data-theme-id="theme-classic">Classic</div>

		<div class="block sample switch" data-theme-id="theme-sans">Sans</div>
		
		<div class="block sample switch" data-theme-id="theme-serif">Serif</div>

		<div class="block sample switch" data-theme-id="theme-slab">Slab</div>

	</div>

</div>

</div>

			
<% content_for :page_js do %>

<script>




<% end %>

