<!-- Application Bar -->

<header class="navigation" role="banner">
  <div class="navigation-wrapper">

      <div class="menu-anchor"><div class="btn-menu js-menu-trigger sliding-panel-button" data-panel-name="settings-menu"><span class="icon-stories-menu"></span></div></div>

      <div class="story-control-wrapper">
        <div class="story-title">
          <div data-panel-name="settings-menu" class="edit-title js-menu-trigger sliding-panel-button">
            <h4><span id="theStoryTitle">Untitled Story</span> |  <span id="publishStatus">Draft</span></h4>

          </div>
        </div>

        <nav role="navigation">
          <ul id="js-navigation-menu" class="js-navigation-menu show">
            <li class="nav-link">
              <a href="sample-report-2-preview.html" data-panel-name="block-menu" target="_new" class="first">Preview &nbsp;<span style="line-height: 1" class="icon-preview"></span></a>
            </li>
            <li class="nav-link">
              <a href="#" data-panel-name="block-menu" class="js-menu-trigger sliding-panel-button"><span class="icon-plus3"></span> Add Content</a>
            </li>
            <li class="nav-link">
              <a href="#" data-panel-name="style-menu" class="js-menu-trigger sliding-panel-button">Style &amp; Presentation</a>
            </li>
          </ul>
        </nav>
        <div class="navigation-tools">
        </div>
     </div>
   </div><!-- /.nav-wrapper -->
</header> 