---
title: Basic App Layout
layout: layout
---

<div id="story" class="edit">

	<div class="container">



		<div class="block typeset">

			<div class="layout">

				<div class="col-12">

					<h1 class="center title">What Strategies is Kansas City Using to Reduce Crime?</h1>
					<img class="media" src="/images/samples/sample-1.jpg" alt=" "/>


				</div>

			</div>

		</div>


		<div class="block typeset">

			<div class="layout">

				<div class="col-12">

					<p> The Council Goal for Public Safety is to: Protect Kansas City residents, visitors, and employees by providing comprehensive, high quality public safety services, including programs to prevent or significantly reduce public safety problems and threats in a timely manner.</p>

					<p>Below are the objectives from the current Citywide Business Plan that outline the specific strategies that the City is pursuing that relate to reducing crime. These objectives provide insight into the departments that are involved and the actions that are being taken.</p>

					<ul>
						<li>Reduce crime among all age groups. a. Reduce crime by creating and implementing a youth and family violence prevention master plan.</li>
						<li>Encourage citizen participation in neighborhood efforts to reduce crime</li>
					</ul>
				</div>

			</div>

		</div>	

	<div class="block typeset">

			<div class="layout">

				<div class="col-4">
					First
				</div>


				<div class="col-4">
					Second
				</div>

				<div class="col-4">
					Third
				</div>

			</div>

		</div>		


		<div class="block typeset">

			<div class="layout">

				<div class="col-12">

					<hr >


					<h2>Crimes Against Persons</h2>
					<p>Crimes Against Persons are those whose victims are always individuals, including homicides and assaults.</p>
					
					
				</div>

			</div>

		</div>


		<div class="block typeset">

			<div class="layout">
				<div class="col-6">

					<h4>By Type</h4>

					<img src="/images/samples/sample-2.jpg" />

					<p>Crimes against persons are broken down under NIBRS into different types of assaults, sexual crimes and murders. The chart below shows this breakdown for previous fiscal years and the current fiscal year to date. Assault offenses make up the vast majority of crimes against people. Overall, this category of crime decreased between Fiscal Year 2013 (May 1, 2012 - April 30, 2013) and Fiscal Year 2014 (May 1, 2014 - April 30, 2015). Fiscal year 2015 contains data from May 1, 2014 to March 31, 2015 and therefore is not yet comparable to FY2013 and FY2014 on an annual basis.
					</p>

				</div>			

				<div class="col-6 last">

					<h4>By Location</h4>

					<img src="/images/samples/sample-3.jpg" />

					<p>Crimes against persons for calendar year 2015 year-to-date are mapped below. The color of each dot corresponds with the type of crime as described in the adjacent chart. (data updated weekly)</p>

				</div>
			</div>

		</div>

		<div class="block typeset">

			<div class="layout">

				<div class="col-12">

					<hr >


					<h2>Youth and Crime in Kansas City</h2>
					<p>The City places particular emphasis on reducing crimes committed by teens and young adults, since many of these crimes represent first-time offenses that are possibly preventable. Youth offenders are frequently first-time offenders who have the potential to be put on a different path with more positive outcomes.
</p>
					
					
				</div>

			</div>

		</div>


		<div class="block typeset">

			<div class="layout">
				<div class="col-6">

					<h4>Youth Crimes Against Persons</h4>

					<img src="/images/samples/sample-4.jpg" />

					<p>Unlike the crime reports above, this data reflects the age of individuals <b><i>arrested</i></b> for crimes against persons in a calendar year. The City defines "youth" as an individual who is under 26 years old. (updated annually)
					</p>

				</div>			

				<div class="col-6 last">

					<h4>Youth Crimes Against Property</h4>

					<img src="/images/samples/sample-4.jpg" />

					<p>Like crimes against persons, this data shows the age breakdown of youth <b><i>arrested</i></b> for crimes against property in a calendar year. Arrests of older teenagers for crimes against property appear to be trending down over the last four years. In 2014, property crime arrests were down for all age groups. (updated annually)</p>

				</div>
			</div>

		</div>



	</div>

</div>


			
<% content_for :page_js do %>

<script>

$(function() {
	$(".block.sample.switch").on("click", function(e){
		
		 $('link#theme').attr('href', '/stylesheets/' + $(this).attr('data-theme-id') + '.css');

		console.log($(this).attr('data-theme-id'));
		//$('link#theme').attr('href', '/stylesheets/' + $(this).attr('data-theme-id') + '.css');
		
		$('.block.sample').removeClass('current');
		$(this).toggleClass('current');

		//$("body").toggleClass("style2");
	})
});

</script>

</script>


<% end %>



